<mat-grid-list cols="5" rowHeight="200px">
    <mat-grid-tile calspan="1" rowspan="1"></mat-grid-tile>
    <mat-grid-tile calspan="3" rowspan="1" aling="center">
        <mat-card>
            <mat-card-title>Home</mat-card-title>
        </mat-card>        
    </mat-grid-tile>
    <mat-grid-tile calspan="5" rowspan="1" >
        <mat-list>
            <mat-list-item>Item 1</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 2</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Item 3</mat-list-item>
          </mat-list>  
    </mat-grid-tile>
</mat-grid-list>